@import "./reset";
@import "./clearfix";
@import "font-awesome";

.chat {
  @include clearfix();
  min-width: 980px;
  height: 100vh;

  .chat-side {
    float: left;
    width: 300px;
    height: 100%;
    background-color: #253141;

    .chat-user {
      @include clearfix();
      height: 100px;
      padding: 20px;
      color: #fff;
      background-color: #0E1F34;

      h5 {
        float: left;
        line-height: 60px;
        letter-spacing: 2px;
        font-size: 16px;
      }

      .chat-user__actions {
        float: right;
        a {
          text-decoration: none;
        }

        .chat-user__action {
          display: inline-block;
          margin: 15px 0 15px 3px;
          line-height: 28px;
          color: #fff;
          font-size: 20px;

          .fa {
            display: inline-block;
          }
        }
      }
    }

    .chat-groups {
      margin: 0;
      padding: 0;
      color: #fff;
      list-style: none;

      .chat-group__link {
        display: block;
        padding: 20px 20px;
        color: #fff;
        text-decoration: none;

        &:hover {
          background-color: #3D4B5E;
        }

        .chat-group__name {
          display: inline-block;
          font-size: 15px;
          margin-bottom: 5px;
        }

        .chat-group__message {
          font-size: 11px;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .chat-main {
    float: left;
    position: relative;
    width: calc(100% - 300px);
    height: 100%;

    .chat-header {
      @include clearfix();
      padding-right: 40px;
      padding-left: 40px;
      background-color: #fff;
      border-bottom: 1px solid #eee;
      height: 140px;

      .chat-header--left {
        float: left;

        h2 {
          margin-top: 20px;
          line-height: 50px;
        }

        .chat-header__users {
          line-height: 20px;
          color: #999;
          font-size: 12px;

          .chat-header__user {
            margin-left: 3px;
          }
        }
      }

      .chat-header--right {
        float: right;

        .chat-header__edit-btn {
          display: inline-block;
          margin: 28px 0;
          padding-right: 20px;
          padding-left: 20px;
          line-height: 40px;
          color: #38aef0;
          font-size: 14px;
          border: 2px solid;
          text-decoration: none;
        }
      }
    }

    .chat-body {
      position: relative;
      padding: 30px 0;
      height: calc(100% - 190px);
      overflow-y: scroll;

      .chat-messages {
        position: absolute;
        right: 40px;
        left: 40px;
        padding: 0;
        list-style: none;

        .chat-message {
          margin-bottom: 40px;

          .chat-message__header {
            @include clearfix();
            line-height: 20px;

            .chat-message__name {
              float: left;
              margin-bottom: 10px;
              font-weight: 600;
            }

            .chat-message__time {
              float: left;
              margin-left: 10px;
              color: #aaa;
              font-size: 12px;
            }
          }

          .chat-message__body {
            font-size: 14px;
          }
        }
      }
    }

    .chat-footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 20px 40px;
      background-color: #ddd;

      form#new_message {

        input[type='hidden'] {
          color: inherit;
          font: inherit;
          margin: 0;
        }

          .chat-footer__body {
            float: left;
            width: calc(100% - 115px);
            height: 50px;
            position: relative;

            textarea {
              width: 100%;
              height: 35px;
              padding: 15px 10px 0;
              line-height: 20px;
              border: none;
              resize: none;
              display: block;
            }

            .chat-footer__file {
              position: absolute;
              top: 0;
              right: 0;
              display: inline-block;
              width: 40px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              cursor: pointer;

              input[type = "file"] {
                display: none;
              }

              .fa {
                display: inline-block;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }
            }
          }

          input[ type = "submit" ] {
            float: left;
            display: inline-block;
            width: 100px;
            margin-left: 15px;
            line-height: 50px;
            color: #fff;
            background-color: #38aef0;
            text-align: center;
            border: none;
            padding: 0;
        }
      }
    }
  }
}






