!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http: { equiv: "Content-Type"}}
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', data: { turbolinks: { track: 'reload' }}
    = javascript_include_tag 'application', data: { turbolinks: {track: 'reload'}}
  %body
    .layout-notification
      .chat
        .chat-side
          .chat-user.clearfix
            %h5 hayato
            .chat-user__actions
              %a.chat-user__action{ href: '#' }
                %i.fa.fa-pencil-square-o
              %a.chat-user__action{ href: '#' }
                %i.fa.fa-cog
          %ul.chat-groups
            %li.chat-group
              %a.chat-group__link{ href: '#' }
                %p.chat-group__name
                  takeb
                %p.chat-group__message
                  test
        .chat-main
          .chat-header.clearfix
            .chat-header--left
              %h2 take
              %p.chat-header__users
                %span.chat-header__user hayato
            .chat-header--right
              %a.chat-header__edit-btn{ href: '#' } Edit
          .chat-body
            %ul.chat-messages
              %li.chat-message
                .chat-message__header.cleafix
                  %p.chat-message__name hayato
                  %p.chat-message__time 2016/10/20 02:34:50
                %p.chat-message__body はんぱねえ
          .chat-footer
            %form.new_message#new_message
              %input{ type: "hidden", value: "" }
              %input{ type: "hidden", name: "authenticity_token" }
              .chat-footer__body
                %textarea{ rows: '1', placeholder: 'type a message', name: 'message[body]', id: 'message_body' }
                %label.chat-footer__file
                  %input#message_image{ type: "file", name: "message[image]" }
                  %i.fa.fa-image
              %input{ type: "submit", name: "commit", value: "Send" }

